*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
}
ul{
    padding: 20px;
    margin-left: 5px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul li{
    font-size: small;
    margin-right: 12px;
}
#divider{
    width: 83%;
}

#sign-in{
    color: white;
    font-weight: bold;
    background: #4285f4;
    cursor: pointer;
    padding: 6px 10px 6px 10px;
    white-space: nowrap;
}
#sign-in:hover{
    background: #1b71fb;
}   
ul li a{
    text-decoration: none;
    color: #525050;
}
ul li a:hover{
    text-decoration: underline;
}
.main-wrapper{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bg{
    width: 600px;
    height: 42px;
    border: 1px solid #e4e7ed;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.search-bg:hover{
    box-shadow: 1px 1px 4px #dedfe0;
}
.search-bg svg{
    fill: grey;
    margin-right: 20px;
}
#searchbox{
    outline-style: none;
    border: 0;
    width: 520px;
    height: 20px;
}
input[type=text]{
    font-weight: 100;
    font-size: 18px;
}
.buttons-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-wrapper button{
    cursor: pointer;
    margin: 0.3vw;
    background-color: #eeedec;
    border: 1px solid #e4e7ed;
    padding: 0.4vw 1.3vw 0.4vw 1.3vw;
    border-radius: 4px;
    color: black;
}
.buttons-wrapper button:hover{
    border: 1px solid rgb(194, 194, 194);
}
#google-language{
    display: flex;
    widows: 100%;
    justify-content: center;
}
#google-language p{
    margin-top: 1.5vh;
    margin-left: 5px;
    font-size: 12px;
}
#lang{
    color: blue;
    cursor: pointer;
}

footer{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    white-space: nowrap;
    background-color: #F2F2F2;
    overflow: hidden;
}
.lang-footer{
    border: 1px solid #E4E4E4;
    width: 100%;
    padding: 15px 0 15px 0;
    margin: 0;
}
.general-footer{
    padding: 15px 0 15px 0;
    margin: 0;
}
.lang-footer li a{
    margin-left: 20px;
}
.general-footer li a{
    margin-left: 20px;
}
#footer-divider{
    width: 70vw;
}

#three-by-three{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lines{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.quad{
    margin: 1px;
    width: 4px;
    height: 4px;
    background-color: #525050;
}